.display-table {
  margin: 0 auto;
  th {
    font-size: .7em;
    line-height: 1em;
  }
}
#p1 {
  td {
    color: whitesmoke;
  }
  background-color: #D50A0A;
}
#p2 {
  td {
    color: whitesmoke;
  }
  background-color: #002244;

}

svg {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.jameis {
  fill: none;
  stroke: #D50A0A;
  stroke-width: 1.5px;
  z-index: 10;
}

.marcus {
  fill: none;
  stroke: #002244;
  stroke-width: 1.5px;
  z-index: 10;
}

.other {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1px;
}

.spacer {
  height: 25px;
}