
<h5 class="row" style="position:fixed;bottom:0;">If you have any issues, call Eli Murray @ (815)985-8760</h5>

<table class="display-table">
    <thead>
    <tr>
        <th>week</th>
        <th>date</th>
        <th>g</th>
        <th>gs</th>
        <th>passes completed</th>
        <th>passes attempted</th>
        <th>passing percent</th>
        <th>passing yards</th>
        <th>passing average</th>
        <th>passes 4 td</th>
        <th>passes intercepted</th>
        <th>passes sacked</th>
        <th>passing sack yards</th>
        <th>passing rate</th>
        <th>rush attempts</th>
        <th>rush yards</th>
        <th>rushing avg</th>
        <th>rush 4 td</th>
        <th>fumbles</th>
        <th>fumbles lost</th>
    </tr>
    </thead>
    <tr ng-repeat="game in gameStats | orderBy:'week'">
        <td>{{game.week}}</td>
        <td>{{game.date}}</td>
        <td>{{game.g}}</td>
        <td>{{game.gs}}</td>
        <td>{{game.passing_comp}}</td>
        <td>{{game.passing_att}}</td>
        <td>{{game.passing_pct}}</td>
        <td>{{game.passing_yds}}</td>
        <td>{{game.passing_avg}}</td>
        <td>{{game.passing_td}}</td>
        <td>{{game.passing_int}}</td>
        <td>{{game.passing_sck}}</td>
        <td>{{game.passing_scky}}</td>
        <td>{{game.passing_rate}}</td>
        <td>{{game.rushing_att}}</td>
        <td>{{game.rushing_yds}}</td>
        <td>{{game.rushing_avg}}</td>
        <td>{{game.rushing_td}}</td>
        <td>{{game.fumbles}}</td>
        <td>{{game.fumbles_lost}}</td>
    </tr>
</table>

<table class="display-table" id="add-stats" ng-show="_showInput">
    <tr>
        <th ng-repeat="stat in Ustats">{{stat.key}}</th>
    </tr>
    <tr>
        <td ng-repeat="stat in Ustats">
            <input ng-model="stat.val" id="{{stat.key}}" type="text"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Submit" ng-click="newStats()"/>
        </td>
    </tr>
</table>
<div class="row text-center" style="margin:20px auto;">
    <button class="column large-10" ng-click="toggleInput()">Add JW game stats</button>
    <button class="column alert large-2" ng-click="deleteRow()">Delete latest week</button>
</div>
<div class="row">
    <button class="large-5 column" ng-click="ratePlayers()">Rank</button>
    <select id="week2rate" style="height:50px;" class="large-5 column">
        <option ng-repeat="num in maxGames()">Week: {{num}}</option>
    </select>
    <button class="large-2 column success" ng-click="dl()" ng-show="chartActive">Download chart</button>
</div>

<div id="graph" class="row"></div>

<div ng-show="rated">
    <table class="display-table">
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>QB Rating</th>
        </tr>
        <tr id="{{player.id}}" ng-repeat="player in rated | orderBy: '-rating'">
            <td>{{player.rank}}</td>
            <td>{{player.player}}</td>
            <td>{{player.rating}}</td>
        </tr>
    </table>
</div>

